clases/2021-01-28/sms.xsd

<?xml version="1.0"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://www.w3schools.com"
    xmlns="https://www.w3schools.com"
    elementFormDefault="qualified">

	<xs:element name="BDsms">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sms" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="telefono" type="xs:string"/>
							<xs:element name="fecha" type="xs:string"/>
							<xs:element name="hora" type="xs:string"/>
							<xs:element name="mensaje" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>